@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

* {
  /* color:#464646;
  font-family: ff-cocon-pro, sans-serif; */
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #DEE5E3
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-select {
  width: 150px !important;
  height: 35px !important;
  font-size: 12px !important;
}

.form-control {
  width: 300px;
  color: #f0f0f0;
}

input.transparent-input {
  background-color: transparent !important;
  height: 35px !important;
  font-size: 12px !important;
  color: #f0f0f0;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f0f0f0 !important;
  opacity: 1;
  /* Firefox */
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001d3d;
  color: white;
  padding: 6px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  height: 60px;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: auto;
  margin-right: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

.header-text {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto Condensed", Arial, sans-serif;
  margin-left: 3px;
  display: flex;
  justify-content: flex-start;
}

/* .container {
align-items: center;
} */



.logo-container {
  margin-left: 5px;
  margin-rightform-select: 8px;
}

.header-buttons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}



.right-bar {
  margin-left: auto;
}

.form-select {
  width: 150px;

}

.form-control {
  width: 350px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.animated-button {
  margin-left: auto;
}


.content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

.suitability-content {
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
}

#calculator table td {
  vertical-align: middle;
}

#list-group-item {
  padding: 2px;
  line-height: 1;
  left: 0px;
  background-color: #444849;
  border-color: #444849;
  border-radius: 8;
  border-bottom: 0 none;
}

table tr td,
table tr th {
  background-color: rgba(255, 255, 255, 0) !important;
}

#custom-icon {
  margin-left: 0px;
}

.loading-bar {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  position: relative;
}

.loading-bar::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #00aaff;
  position: absolute;
  animation: loading-animation 2s infinite;
}

.custom-panel {
  background-color: rgba(245, 245, 245, 0.6);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.custom-panel .form-check-label {
  padding-left: 10px;
}

.custom-panel .form-check-input {
  margin-right: 5px;
}

@keyframes loading-animation {
  0% {
    width: 0;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 18px;
  background-color: transparent;
  padding: 0px;
  align-items: center;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #869092;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
  padding: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
  border-color: transparent;
}



.sidebar-header {
  display: flex;
  align-items: center;
}

.sbheader-icon {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
}

.sbheader-text {
  font-size: 22px;
}

#sidemenu {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 52px;
  transition: width 0.5s;
  background-color: rgba(0, 0, 0, 0.23);
  /* Transparent background color */
  color: #fff;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
  /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
}


#sidemenu.expanded {
  width: 150px;
}

.sidemenu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.sidemenu-button i {
  margin: 0;
  font-size: 13px;
  line-height: 1;
}

.sidebar-open {
  transform: translateX(0);
}

#sidebar-pane {
  background-color: rgba(255, 255, 255, 0.8);
  /* Set a transparent background color */
  backdrop-filter: blur(5px);
  /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari */
}

.leaflet-top.leaflet-left {
  position: fixed;
  margin-top: 60px;
  z-index: 9999;
  text-align: left;
}

/* Styling the Leaflet.Draw toolbar and controls */
.leaflet-draw-toolbar,
.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-edit-edit,
.leaflet-draw-tooltip-edit,
.leaflet-draw-edit-remove,
.leaflet-draw-tooltip-remove {
  height: 30px !important;
  width: 30px !important;

  justify-content: center !important;
  align-items: center !important;
}

.leaflet-draw-section {
  margin-bottom: 130px;
}

#drawContainer,
#deleteAllContainer,
#measureContainer {
  text-align: left;
  margin-top: 10px;
}

#drawContainer button.btn,
#deleteAllContainer button.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.group-container {
  margin-bottom: 10px;
}

.group-checkbox {
  display: flex;
  align-items: center;
}

.group-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.nested-checkboxes {
  margin-left: 20px;
}


.floating-card {
  position: fixed;
  top: 70px;
  right: -300px;
  width: 300px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
  /* Set a transparent background color */
  backdrop-filter: blur(8px);
  /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
  padding: 20px;
}

.leaflet-bar button {
  height: 30px !important;
  width: 30px !important;
  /* font-size: 2.6em; */
  /* padding: 8px; */
  /* line-height: 30px; */
}

#floating-card .sbheader-text {
  font-size: 18px;
}

#floating-card .form-check-label {
  font-size: 12px;
}

.sidebar-layer {
  padding: 20px;
}

.sidebar-header {
  margin-bottom: 20px;
}

.sbheader-icon {
  margin-right: 10px;
}

.sbheader-text {
  font-size: 16px;
}

.floating-card.active {
  right: 5px;
}

.right-buttons {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.right-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.right-bar span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #f0f0f0;
  margin-bottom: 4px;
  transition: transform 0.3s, opacity 0.3s;
}

.right-bar.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.right-bar.open span:nth-child(2) {
  opacity: 0;
}

.right-bar.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.layer-text {
  padding: 0px;
}

.sidebar-three {
  position: fixed;
  top: 70px;
  left: -400px;
  width: 400px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
  /* Set a transparent background color */
  backdrop-filter: blur(8px);
  /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
  padding: 20px;
}

.sidebar-three.open {
  left: 55px;
}


.sidebar-calc {
  position: fixed;
  align-items: center;
  top: 70px;
  left: -400px;
  width: 400px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
  /* Set a transparent background color */
  backdrop-filter: blur(8px);
  /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 8000;
  /* overflow: visible; */
  overflow-y: auto;
  padding: 20px;

}

#nav-item {
  background-color: #ddd;
}

.sidebar-calc.open {
  left: 55px;
}


#settings-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}


#searchInput {
  width: 300px;
  margin-right: 5px;
}

#suggestions {
  position: absolute;
  font-size: small;
  width: 300px;
  /* margin-top: 20px; */
  background-color: #fff;
  /* border: 1px solid #ced4da; */
  /* border-radius: 4px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f8f9fa;
}

.easy-button {
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.easy-button:active {
  animation: clickEffect 0.3s;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.easy-btn-all {
  width: 100px;
  height: 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}