@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

* {
  /* color:#464646;
  font-family: ff-cocon-pro, sans-serif; */
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #DEE5E3
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Search bar */
.search-bar {
  /* display: flex; */
  align-items: center;
  margin-right: 5px;
}

.input-group {
  /* display: flex; */
  align-items: center;
  gap: 4px;
}

.form-select {
  width: 150px !important;
  height: 35px !important;
  font-size: 12px !important;
}

.form-control {
  width: 300px;
  color: #f0f0f0;
}

input.transparent-input {
  background-color: transparent !important;
  height: 35px !important;
  font-size: 12px !important;
  color: #f0f0f0;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f0f0f0 !important;
  opacity: 1;
  /* Firefox */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001d3d;
  color: white;
  padding: 6px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  height: 50px;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: auto;
  margin-right: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

.header-text {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto Condensed", Arial, sans-serif;
  margin-left: 3px;
  display: flex;
  justify-content: flex-start;
}

/* .container {
align-items: center;
} */



.logo-container {
  margin-left: 5px;
  margin-rightform-select: 8px;
}

.header-buttons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}



.right-bar {
  margin-left: auto;
}

.form-select {
  width: 150px;

}

.form-control {
  width: 350px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.animated-button {
  margin-left: auto;
}


.content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

.suitability-content {
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
}

#calculator table td {
  vertical-align: middle;
}

#list-group-item {
  padding: 2px;
  line-height: 1;
  left: 0px;
  background-color: #444849;
  border-color: #444849;
  border-radius: 8;
  border-bottom: 0 none;
}

table tr td,
table tr th {
  background-color: rgba(255, 255, 255, 0) !important;
}

#custom-icon {
  margin-left: 0px;
}

.loading-bar {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  position: relative;
}

.loading-bar::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #00aaff;
  position: absolute;
  animation: loading-animation 2s infinite;
}

.custom-panel {
  background-color: rgba(245, 245, 245, 0.6);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

/* .custom-panel .form-check-label {
  padding-left: 10px;
  font-size: 12px !important;
} */

/* .form-check-label {
  font-size: 12px !important;
} */

/* .panel-layer-label {
  font-size: 12px !important;
} */

/* .custom-panel .form-check-input {
  margin-right: 5px;
  font-size: 15px !important;
} */

@keyframes loading-animation {
  0% {
    width: 0;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 18px;
  background-color: transparent;
  padding: 0px;
  align-items: center;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #869092;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
  padding: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
  border-color: transparent;
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.sbheader-icon {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
}

.sbheader-text {
  font-size: 22px;
}

#sidemenu {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 52px;
  transition: width 0.5s;
  background-color: rgba(0, 0, 0, 0.23);
  color: #fff;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
}


#sidemenu.expanded {
  width: 150px;
}

.sidemenu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.sidemenu-button i {
  margin: 0;
  font-size: 13px;
  line-height: 1;
}

.sidebar-open {
  transform: translateX(0);
}

#sidebar-pane {
  background-color: rgba(255, 255, 255, 0.8);
  /* Set a transparent background color */
  backdrop-filter: blur(5px);
  /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari */
}

.leaflet-top.leaflet-left {
  position: fixed;
  margin-top: 60px;
  z-index: 9999;
  text-align: left;
}

.leaflet-control-measure-toggle {
  height: 30px !important;
  width: 30px !important;
}

/* Styling the Leaflet.Draw toolbar and controls */
.leaflet-draw-toolbar,
.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-edit-edit,
.leaflet-draw-tooltip-edit,
.leaflet-draw-edit-remove,
.leaflet-draw-tooltip-remove {
  height: 30px !important;
  width: 30px !important;

  justify-content: center !important;
  align-items: center !important;
}

.leaflet-draw-section {
  margin-bottom: 130px;
}

#drawContainer,
#deleteAllContainer,
#measureContainer {
  text-align: left;
  margin-top: 10px;
}

#drawContainer button.btn,
#deleteAllContainer button.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.group-container {
  margin-bottom: 10px;
}

.group-checkbox {
  display: flex;
  align-items: center;
}

.group-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.nested-checkboxes {
  margin-left: 20px;
}


.floating-card {
  position: fixed;
  top: 70px;
  right: -300px;
  width: 300px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
  padding: 20px;
}

.leaflet-bar button {
  height: 30px !important;
  width: 30px !important;
}

#floating-card .sbheader-text {
  font-size: 18px;
}

#floating-card .form-check-label {
  font-size: 12px;
}

.sidebar-layer {
  padding: 20px;
}

.sidebar-header {
  margin-bottom: 20px;
}

.sbheader-icon {
  margin-right: 10px;
}

.sbheader-text {
  font-size: 16px;
}

.floating-card.active {
  right: 5px;
}

.right-buttons {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.right-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.right-bar span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #f0f0f0;
  margin-bottom: 4px;
  transition: transform 0.3s, opacity 0.3s;
}

.right-bar.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.right-bar.open span:nth-child(2) {
  opacity: 0;
}

.right-bar.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.layer-text {
  padding: 0px;
}

.sidebar-three {
  position: fixed;
  top: 70px;
  left: -400px;
  width: 400px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
  /* Set a transparent background color */
  backdrop-filter: blur(8px);
  /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
  padding: 20px;
}

.sidebar-three.open {
  left: 55px;
}

.timeline-bar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -400px;
  height: 500px;
  width: 90%;
  max-width: 800px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s ease;
  z-index: 9998;
  overflow-y: auto;
  padding: 20px;
}

.timeline-bar.open {
  bottom: 20px;
}

.timeline-bar.open {
  bottom: 20px;
}



.sidebar-calc {
  position: fixed;
  align-items: center;
  top: 70px;
  left: -400px;
  width: 350px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 8000;
  /* overflow: visible; */
  overflow-y: auto;
  padding: 20px;

}

#nav-item {
  background-color: #ddd;
}

.sidebar-calc.open {
  left: 55px;
}


#settings-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}


#searchInput {
  width: 300px;
  margin-right: 5px;
}

#suggestions {
  position: absolute;
  font-size: small;
  color: #383838;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #e6e6e69c;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.easy-button {
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.easy-button:active {
  animation: clickEffect 0.3s;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.easy-btn-all {
  width: 100px;
  height: 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.collapsible {
  background-color: #2b2b3794;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(233, 233, 233);
  cursor: pointer;
  padding: 2px;
  width: 100%;
  border: 1px;
  text-align: left;
  outline: none;
  font-size: 12px !important;
  text-indent: 5px;
}

.collapsible:hover {
  background-color: #3a3a3ad5;
}

.panelLayers {
  margin-top: 0px;
  padding: 0 2px;
  max-height: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
  margin-bottom: 5px;
  font-size: 15px !important;
}

#panelLayers {
  max-height: 300px;
}

.legend-image {
  width: 160px;
  height: auto;
}

.credit-h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
}

.credit-h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Roboto", Arial, sans-serif;
}

.credit-h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.credit-text {
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  font-size: 20px;
}

.name,
.designation {
  margin: 0;
}

.timeline-bar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -400px;
  height: 350px;
  width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
  padding: 0px;
}

.timeline-bar.open {
  bottom: 20px;
}

/* -------------------------------- 

Primary style

-------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*, *::after, *::before {
  box-sizing: border-box;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #7b9d6f;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}


#timeline-button {
  position: fixed;
  bottom: 50px;
  left: 10px;
}

#export-button {
  margin-bottom: 20px;
}


.lgu-directory {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -500px;
  height: 500px;
  width: 1000px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
  padding: 0px;
}

.lgu-directory.open {
  bottom: 20px;
}

.lgu-container {
padding: 20px;
  margin: 0 auto;
  position: relative;
  font-size: 12px;
}

#lgulist {
  margin: 0 auto;
}

#lgu-button {
  position: fixed;
  bottom: 90px;
  left: 10px;
}